In [18]:
import pandas as pd
import os

In [7]:
author_info = {
    "Nama": ["Bugi Sulistiyo",
             "Prof. Dr. Anindita Septiarini, S.T., M.Cs.",
             "Prof. Dr. Ir. Hamdani, S.T., M.Cs., IPM."],
    "Program Studi": ["Informatika",
                      "Informatika",
                      "Informatika"],
    "Tipe Penulis": ["Mahasiswa",
                     "Dosen Pembimbing 1",
                     "Dosen Pembimbing 2"],
}

In [13]:
dataset_info = {
    "Nama Dataset": ["RIM-ONE",
                     "G1020",
                     "REFUGE",
                     "PAPILA"],
    "Sumber": ["https://github.com/miag-ull/rim-one-dl",
               "https://www.kaggle.com/datasets/arnavjain1/glaucoma-datasets",
               "https://www.kaggle.com/datasets/arnavjain1/glaucoma-datasets",
               "https://doi.org/10.6084/m9.figshare.14798004.v1"]
}

In [9]:
arsitektur_info = {
    "Nama Arsitektur": ["MobileNetV2",
                        "MobileNetV3small",
                        "MobileNetV3large",
                        "EfficientNetV2S",
                        "EfficientNetV2M",
                        "EfficientNetV2L",],
    "Dasar Arsitektur": ["MobileNet",
                         "MobileNet",
                         "MobileNet",
                         "EfficientNet",
                         "EfficientNet",
                         "EfficientNet"],
}

In [14]:
author_df = pd.DataFrame(author_info)
dataset_df = pd.DataFrame(dataset_info)
arsitektur_df = pd.DataFrame(arsitektur_info)

In [11]:
author_df.head()

,Nama,Program Studi,Tipe Penulis
0,Bugi Sulistiyo,Informatika,Mahasiswa
1,"Prof. Dr. Anindita Septiarini, S.T., M.Cs.",Informatika,Dosen Pembimbing 1
2,"Prof. Dr. Ir. Hamdani, S.T., M.Cs., IPM.",Informatika,Dosen Pembimbing 2

In [15]:
dataset_df.head()

  Nama Dataset                                             Sumber
0      RIM-ONE             https://github.com/miag-ull/rim-one-dl
1        G1020  https://www.kaggle.com/datasets/arnavjain1/gla...
2       REFUGE  https://www.kaggle.com/datasets/arnavjain1/gla...
3       PAPILA    https://doi.org/10.6084/m9.figshare.14798004.v1

In [17]:
arsitektur_df.head(6)

    Nama Arsitektur Dasar Arsitektur
0       MobileNetV2        MobileNet
1  MobileNetV3small        MobileNet
2  MobileNetV3large        MobileNet
3   EfficientNetV2S     EfficientNet
4   EfficientNetV2M     EfficientNet
5   EfficientNetV2L     EfficientNet

In [19]:
path_data_storage = r'./../../../data/'

In [20]:
author_df.to_csv(os.path.join(path_data_storage, 'author_info.csv'), index=False)
dataset_df.to_csv(os.path.join(path_data_storage, 'dataset_info.csv'), index=False)
arsitektur_df.to_csv(os.path.join(path_data_storage, 'arsitektur_info.csv'), index=False)